{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Start new Run</h1>
    <form class="ui form" method="POST" action="testcases/run">
        <div class="field">
            <label>Users to E-mail:</label>
            <input type="text" name="email" placeholder="marneman@commvault.com,palapati@commvault.com">
        </div>

        <div class="field">
            <!-- TODO: Populate through users -->
            <!-- TODO: Add e-mail to e-mail field (JS) -->
            <a href="#" class="ui button">+Mark</a>
            <a href="#" class="ui button">+Prasad</a>
        </div>

        <div class="field">
            <label>Updates to Install:</label>
            <input type="text" name="updates" placeholder="To Be Implemented" readonly>
        </div>

        <div class="field">
            <label>Test Cases to Run</label>
            {% if testcases|length > 0 %}
                {% for testcase in testcases %}
                <div class="row">
                    <div class="ui checkbox">
                        <input type="checkbox" name="testcase" value="{{ testcase.number }}" tabindex="0" class="hidden">
                        <label>{{ testcase.number }} - {{ testcase.name }}</label>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <h3 class="ui red block header">
                        No configured test cases!
                        <small><a href="/testcases/new">Add a new test case</a></small>
                    </h3>
                </div>
            {% endif %}
        </div>

        <button class="fluid ui button primary" type="submit">Submit</button>
    </form>
</div>

<hr>

{% if active %}
<div class="row">
    <table class="ui green table">
        <thead>
            <tr><th>Active Test Run</th></tr>
        </thead>
        <tbody>
        <tr class="positive">
            <td><strong>#{{ active.id }}</strong> started at {{ active.timestamp }}</td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
{% endif %}

{% if queued|length > 0 %}
<div class="row">
    <table class="ui yellow table">
        <thead>
            <tr><th>Queued Test Runs</th></tr>
        </thead>
        <tbody>
        {% for run in queued %}
            <tr class="warning">
                <td><strong>#{{ run.id }}</strong> started at {{ run.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr>
{% endif %}

<div class="row">
    <h1>Previous Test Runs</h1>

    <!-- TODO: Dynamic list of runs -->
    <table class="ui celled table">
        <thead>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>Result</th>
            </tr>
        </thead>

        <tbody>
            {% for testrun in testruns %}
                {% if testrun.result == 1 %}
                    <tr class="positive">
                {% elif testrun.result == -1 %}
                    <tr class="negative">
                {% endif %}
                        <td><strong>{{ testrun.id }}</strong></td>
                        <td>{{ testrun.timestamp }}</td>
                        {% if testrun.result == 1 %}
                            <td>PASSED</td>
                        {% elif testrun.result == -1 %}
                            <td>FAILED</td>
                        {% endif %}
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}