<nav class="ui inverted menu">
    <div class="ui container">
        <a href="/" class="header item"><img class="logo" src="{{ url_for('static', filename='images/commvault.png') }}">Testr</a>

        <div class="ui simple dropdown item">
            Actions <i class="dropdown icon"></i>
            <div class="menu">
                <div class="header">Test Cases</div>
                <a class="item" href="/testcases/new">Add New Test Case</a>
                <a class="item" href="/testcases">Edit Test Cases</a>

                <div class="divider"></div>

                <div class="header">Users</div>
                <a class="item" href="#">Add New Users</a>
                <a class="item" href="#">Edit Users</a>
            </div>
        </div>

        <a href="#" class=" item">Scheduling</a>
    </div>
</nav>